<!-- Following Menu -->
<div class="ui large top not-fixed menu">
    <div class="ui container header-menu">
        <a href="" class="logo-link"><img src="img/logo.png" class="logo" alt=""></a>
        <a class="item" ui-sref-active="active" ui-sref="home">Home</a>
        <a class="item" ui-sref-active="active" ui-sref="threads">Threads</a>
        <a class="item">Users</a>
        <div class="right menu">            
            <div class="ui pointing dropdown link item" dropdown>
                <img class="ui avatar image" src="img/avatar/christian.jpg"> Chima Onuigbo <span class="date">&nbsp;(169,121 pts)</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a ui-sref-active="active" class="item" ui-sref="user-update"><i class="fa fa-pencil-square-o icon"></i> Edit Profile</a>
                    <a ui-sref-active="active" class="item" ui-sref="user"><i class="fa fa-eye icon"></i> View  Profile</a>
                    <div class="divider"></div>
                    <a class="item" href="#link3"><i class="fa fa-sign-out icon"></i> Logout</a>
                </div>

            </div>
            <div class="item">
                <div class="ui buttons">
                    <a ui-sref="login" class="ui button"><i class="sign in icon"></i></a>
                    <div class="or"></div>
                    <a ui-sref="signup" class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->

<div class="ui large secondary inverted pointing menu sidebar-activator">
    <a class="toc item">
        <i class="large sidebar icon"></i>
    </a>
</div>

<div class="ui vertical inverted sidebar menu" sidebar>
    <img src="img/logo.png" class="logo" alt="">
    <a class="item" ui-sref-active="active" ui-sref="home">Home</a>
    <a class="item" ui-sref-active="active" ui-sref="threads">Threads</a>
    <a class="item">Categories</a>
    <a class="item">Users</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
</div>