<!-- Following Menu -->
<div class="ui large top not-fixed menu">
    <div class="ui container">
        <a href=""><img src="img/logo.png" class="logo" alt=""></a>
        <a class="item" ui-sref-active="active" ui-sref="home">Home</a>
        <a class="item" ui-sref-active="active" ui-sref="threads">Threads</a>
        <a class="item ui category dropdown" dropdown="{allowCategorySelection: true}">
            <span class="text">Choose Category</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    <span class="text">Category 1</span>
                </div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">Category 2</span>
                    <div class="menu">
                        <div class="item">Item 2A</div>
                        <div class="item">Item 2B</div>
                        <div class="item">Item 2C</div>
                    </div>
                </div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">Category 3</span>
                    <div class="menu">
                        <div class="item">Item 3A</div>
                        <div class="item">Item 3B</div>
                        <div class="item">Item 3C</div>
                    </div>
                </div>
            </div>
        </a>
        <a class="item">Users</a>
        <div class="right menu">
            <div class="item">
                <div class="ui buttons">
                    <a class="ui button"><i class="sign in icon"></i></a>
                    <div class="or"></div>
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->

<div class="ui large secondary inverted pointing menu sidebar-activator">
    <a class="toc item">
        <i class="large sidebar icon"></i>
    </a>
</div>

<div class="ui vertical inverted sidebar menu" sidebar>
    <img src="img/logo.png" class="logo" alt="">
    <a class="item" ui-sref-active="active" ui-sref="home">Home</a>
    <a class="item" ui-sref-active="active" ui-sref="threads">Threads</a>
    <a class="item">Categories</a>
    <a class="item">Users</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
</div>