<div class="ui inverted vertical masthead center aligned segment" follow-header>     
    <div class="ui container">       
        <div class="ui large secondary inverted pointing menu">
            <a class="item" ui-sref-active="active" ui-sref="home">Home</a>
        <a class="item" ui-sref-active="active" ui-sref="threads">Threads</a>
            <a class="item ui category dropdown" dropdown="{allowCategorySelection: true}">
                <span class="text">Categories</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="male">
                        <span class="text">Category 1</span>
                    </div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Category 2</span>
                        <div class="menu">
                            <div class="item">Item 2A</div>
                            <div class="item">Item 2B</div>
                            <div class="item">Item 2C</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        <span class="text">Category 3</span>
                        <div class="menu">
                            <div class="item">Item 3A</div>
                            <div class="item">Item 3B</div>
                            <div class="item">Item 3C</div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="item">Users</a>
            <div class="right item">
                <div class="ui buttons">
                    <a class="ui button"><i class="sign in icon"></i></a>
                    <div class="or"></div>
                    <a class="ui primary button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
                    <img src="img/logo.png" class="banner-logo" alt=""> Whisper
                </h1>
        <h2>Welcome to Whisper's Official Forum</h2>
        <a ui-sref="threads" class="ui huge primary button">Get Started <i class="right arrow icon"></i></a>
    </div>

</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <div class="ui threaded comments">
                    <h3 class="ui dividing header">Featured on Whisper</h3>
                    <div id="owl-example" class="owl-carousel" owl-carousel="{
                            slideSpeed: 1000,
                            paginationSpeed: 2000,
                            singleItem: true,
                            autoPlay: 3000
                            }">
                        <div class="owl-content">
                            <div class="comment">
                                <a class="ui teal right corner label">
                                    <i class="comment icon"></i>
                                </a>
                                <a class="avatar">
                                    <img src="img/avatar/matt.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Matt</a>
                                    <div class="metadata">
                                        <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                                    </div>
                                    <div class="text">
                                        How artistic!
                                    </div>
                                    <div class="actions">
                                        <a class="reply">View</a>
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="ui red right corner label">
                                    <i class="help icon"></i>
                                </a>
                                <a class="avatar">
                                    <img src="img/avatar/nan.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Nan</a>
                                    <div class="metadata">
                                        <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                                    </div>
                                    <div class="text">
                                        Who started Apple?
                                    </div>
                                    <div class="actions">
                                        <a class="reply">View</a>
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-content">
                            <div class="comment">
                                <a class="ui red right corner label">
                                    <i class="help icon"></i>
                                </a>
                                <a class="avatar">
                                    <img src="img/avatar/chris.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Chris</a>
                                    <div class="metadata">
                                        <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                                    </div>
                                    <div class="text">
                                        Neural System Diseases!
                                    </div>
                                    <div class="actions">
                                        <a class="reply">View</a>
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="ui black right corner label">
                                    <i class="announcement icon"></i>
                                </a>
                                <a class="avatar">
                                    <img src="img/avatar/tom.jpg">
                                </a>
                                <div class="content">
                                    <a class="author">Tom</a>
                                    <div class="metadata">
                                        <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                                    </div>
                                    <div class="text">
                                        New Lumia in Market...
                                    </div>
                                    <div class="actions">
                                        <a class="reply">View</a>
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="ui header brand-text">What is Whisper?</h3>
                <p>Knowledge is power! Information is liberating! Whisper is community of teachers and learners who are passionate about knowledge and know the value of information</p>
            </div>
            <div class="six wide right floated column">
                <h3 class="ui header">Behold the top contributors!</h3>
                <div class="ui very relaxed list">
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/daniel.jpg">
                        <div class="content">
                            <a class="header">Daniel Louise</a>
                            <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/stevie.jpg">
                        <div class="content">
                            <a class="header">Stevie Feliciano</a>
                            <div class="description">Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/elliot.jpg">
                        <div class="content">
                            <a class="header">Elliot Fu</a>
                            <div class="description">Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui inverted vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h3>Have you heard...?</h3>
                <p>...Whisper have an upcoming Mobile app for IOS and Android with thread notifications</p>
            </div>
            <div class="column">
                <h3>"Whisper is the next generation community."</h3>
                <p>
                    <img src="img/avatar/steve.jpg" class="ui avatar image"> <b>Ifeora Okechukwu</b> Co-Founder CodeDevFolks
                </p>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="eight wide column">
            <h3 class="ui header">Top Categories</h3>
            <div class="ui two cards">
                <a class="yellow card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="meta">Friend</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                </a>
                <a class="olive card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="meta">Friend</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                </a>
                <a class="green card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="meta">Friend</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                </a>
                <a class="teal card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="meta">Friend</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                </a>
                <a class="teal card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="meta">Friend</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                </a>
                <a class="teal card">
                    <div class="content">
                        <div class="header">Elliot Fu</div>
                        <div class="meta">Friend</div>
                        <div class="description">
                            Elliot Fu is a film-maker from New York.
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h4 class="ui horizontal header divider">        
      </h4>
        <div class="six wide right floated column">
            <h3 class="ui header">Recent Threads</h3>
            <div class="ui threaded comments">
                <div class="comment">
                    <a class="ui teal right corner label">
                        <i class="comment icon"></i>
                    </a>
                    <a class="avatar">
                        <img src="img/avatar/matt.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                        </div>
                        <div class="text">
                            How artistic!
                        </div>
                        <div class="actions">
                            <a class="reply">View</a>
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="ui red right corner label">
                        <i class="help icon"></i>
                    </a>
                    <a class="avatar">
                        <img src="img/avatar/nan.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Nan</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                        </div>
                        <div class="text">
                            Who started Apple?
                        </div>
                        <div class="actions">
                            <a class="reply">View</a>
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="ui red right corner label">
                        <i class="help icon"></i>
                    </a>
                    <a class="avatar">
                        <img src="img/avatar/chris.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Chris</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                        </div>
                        <div class="text">
                            Neural System Diseases!
                        </div>
                        <div class="actions">
                            <a class="reply">View</a>
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="ui black right corner label">
                        <i class="announcement icon"></i>
                    </a>
                    <a class="avatar">
                        <img src="img/avatar/tom.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Tom</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                        </div>
                        <div class="text">
                            New Lumia in Market...
                        </div>
                        <div class="actions">
                            <a class="reply">View</a>
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>