<div class="ui middle aligned center aligned grid">
    <div class="column login-column">
        <h2 class="ui teal image header">
      <img src="img/logo.png" class="login-logo">
      <div class="content brand-text">
        Log-in to your account
      </div>
    </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large primary submit button">Login</div>
            </div>
        </form>

        <div class="ui message">
            Hey there! Sure you have an account? <a ui-sref="signup">Sign Up</a>
        </div>
        <div class="ui message">
            Changed your mind? <a ui-sref="home">Home</a>
        </div>
    </div>
</div>