<div class="ui middle aligned center aligned grid">
    <div class="column signup-column">
        <h2 class="ui teal image header">
      <img src="img/logo.png" class="login-logo">
      <div class="content brand-text">
        Create a new account
      </div>
    </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="first_name" placeholder="First Name">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="last_name" placeholder="Last Name">
                    </div>
                </div>
                <div class="field">
                    
                </div>
                <br>
                <button class="ui fluid large primary submit button">Sign Up</button>
            </div>
        </form>

        <div class="ui message">
            Oh! You have an account? <a ui-sref="login">Login</a>
        </div>
        <div class="ui message">
            Changed your mind? <a ui-sref="home">Home</a>
        </div>
    </div>
</div>