<div class="ui inverted vertical masthead title center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
                    Community Threads
                </h1>
        <h2>Whisper community threads.</h2>
    </div>

</div>
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="ui breadcrumb">
            <a class="section">Whisper</a>
            <i class="right chevron icon divider"></i>
            <a class="section">Home</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">Threads</div>
        </div>
    </div>
    <div class="ui middle stackable grid container">
        <div class="row">
            <div class="ten wide column">
                <div class="ui multiple dropdown" dropdown>
                    <input type="hidden" name="filters">
                    <i class="filter icon"></i>
                    <span class="text">Type</span>
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>
                        <div class="header">
                            <i class="tags icon"></i> Tag Label
                        </div>
                        <div class="scrolling menu">
                            <div class="item" data-value="important">
                                <div class="ui red empty circular label"></div>
                                Important
                            </div>
                            <div class="item" data-value="announcement">
                                <div class="ui blue empty circular label"></div>
                                Announcement
                            </div>
                            <div class="item" data-value="cannotfix">
                                <div class="ui black empty circular label"></div>
                                Cannot Fix
                            </div>
                            <div class="item" data-value="news">
                                <div class="ui purple empty circular label"></div>
                                News
                            </div>
                            <div class="item" data-value="enhancement">
                                <div class="ui orange empty circular label"></div>
                                Enhancement
                            </div>
                            <div class="item" data-value="off-topic">
                                <div class="ui yellow empty circular label"></div>
                                Off Topic
                            </div>
                            <div class="item" data-value="interesting">
                                <div class="ui pink empty circular label"></div>
                                Interesting
                            </div>
                            <div class="item" data-value="discussion">
                                <div class="ui green empty circular label"></div>
                                Discussion
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui multiple dropdown" dropdown>
                    <input type="hidden" name="filters">
                    <i class="filter icon"></i>
                    <span class="text">Category</span>
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>
                        <div class="header">
                            <i class="tags icon"></i> Tag Label
                        </div>
                        <div class="scrolling menu">
                            <div class="item" data-value="important">
                                <div class="ui red empty circular label"></div>
                                Important
                            </div>
                            <div class="item" data-value="announcement">
                                <div class="ui blue empty circular label"></div>
                                Announcement
                            </div>
                            <div class="item" data-value="cannotfix">
                                <div class="ui black empty circular label"></div>
                                Cannot Fix
                            </div>
                            <div class="item" data-value="news">
                                <div class="ui purple empty circular label"></div>
                                News
                            </div>
                            <div class="item" data-value="enhancement">
                                <div class="ui orange empty circular label"></div>
                                Enhancement
                            </div>
                            <div class="item" data-value="off-topic">
                                <div class="ui yellow empty circular label"></div>
                                Off Topic
                            </div>
                            <div class="item" data-value="interesting">
                                <div class="ui pink empty circular label"></div>
                                Interesting
                            </div>
                            <div class="item" data-value="discussion">
                                <div class="ui green empty circular label"></div>
                                Discussion
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui multiple dropdown" dropdown>
                    <input type="hidden" name="filters">
                    <i class="filter icon"></i>
                    <span class="text">Date</span>
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>
                        <div class="header">
                            <i class="tags icon"></i> Tag Label
                        </div>
                        <div class="scrolling menu">
                            <div class="item" data-value="cannotfix">
                                <div class="ui black empty circular label"></div>
                                Today
                            </div>
                            <div class="item" data-value="important">
                                <div class="ui red empty circular label"></div>
                                This Week
                            </div>
                            <div class="item" data-value="announcement">
                                <div class="ui blue empty circular label"></div>
                                This Month
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui threaded comments">
                    <div class="comment">
                        <a class="ui teal right corner label">
                            <i class="comment icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                            </div>
                            <div class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam iure cupiditate, voluptatibus quia veritatis, necessitatibus eaque qui ducimus vitae quaerat vero sequi. Repellendus iure officiis illum ipsa quam vel.
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/nan.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Nan</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                Who started Apple?
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/chris.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Chris</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                            </div>
                            <div class="text">
                                Neural System Diseases!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui black right corner label">
                            <i class="announcement icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/tom.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Tom</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                New Lumia in Market...
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui teal right corner label">
                            <i class="comment icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/nan.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Nan</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                Who started Apple?
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/chris.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Chris</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                            </div>
                            <div class="text">
                                Neural System Diseases!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui black right corner label">
                            <i class="announcement icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/tom.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Tom</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                New Lumia in Market...
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui teal right corner label">
                            <i class="comment icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/nan.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Nan</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                Who started Apple?
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/chris.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Chris</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                            </div>
                            <div class="text">
                                Neural System Diseases!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui black right corner label">
                            <i class="announcement icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/tom.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Tom</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                New Lumia in Market...
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui pagination menu">
                    <a class="active item">
    1
  </a>
                    <div class="disabled item">
                        ...
                    </div>
                    <a class="item">
    10
  </a>
                    <a class="item">
    11
  </a>
                    <a class="item">
    12
  </a>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui medium rectangle test ad" data-text="Hope you wont mind advertising here?"></div>
                <h3 class="ui header">Common Categories</h3>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="ui empty red circular middle aligned icon label"></i>
                        <div class="content">
                            <a class="header">Technology</a>
                            <div class="description">21,100 posts (Description goes here)</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ui empty teal circular middle aligned icon label"></i>
                        <div class="content">
                            <a class="header">Music</a>
                            <div class="description">20,050 posts (Description goes here)</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ui empty olive circular middle aligned icon label"></i>
                        <div class="content">
                            <a class="header">Sports</a>
                            <div class="description">18,540 posts (Description goes here)</div>
                        </div>
                    </div>
                </div>
                <h3>Contributors</h3>
                <h4>This Week</h4>
                <div class="ui very relaxed list">
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/daniel.jpg">
                        <div class="content">
                            <a class="header">Daniel Louise</a>
                            <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/stevie.jpg">
                        <div class="content">
                            <a class="header">Stevie Feliciano</a>
                            <div class="description">Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/elliot.jpg">
                        <div class="content">
                            <a class="header">Elliot Fu</a>
                            <div class="description">Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.</div>
                        </div>
                    </div>
                </div>
                <h4>This Month</h4>
                <div class="ui very relaxed list">
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/daniel.jpg">
                        <div class="content">
                            <a class="header">Daniel Louise</a>
                            <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/stevie.jpg">
                        <div class="content">
                            <a class="header">Stevie Feliciano</a>
                            <div class="description">Last seen watching <a><b>Bob's Burgers</b></a> 10 hours ago.</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="img/avatar/elliot.jpg">
                        <div class="content">
                            <a class="header">Elliot Fu</a>
                            <div class="description">Last seen watching <a><b>The Godfather Part 2</b></a> yesterday.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="ui vertical stripe segment">
    <div class="ui middle stackable grid container">
        <div class="four wide column">
            <h3 class="ui header">Birthdays this Week</h3>
            <div class="ui very relaxed list">
                <div class="item">
                    <img class="ui avatar image" src="img/avatar/daniel.jpg">
                    <div class="content">
                        <a class="header">Daniel Louise</a>
                        <div class="description">on <a><b>9 Sept</b></a></div>
                    </div>
                </div>
                <div class="item">
                    <img class="ui avatar image" src="img/avatar/stevie.jpg">
                    <div class="content">
                        <a class="header">Stevie Feliciano</a>
                        <div class="description">on <a><b>10 Sept</b></a></div>
                    </div>
                </div>
                <div class="item">
                    <img class="ui avatar image" src="img/avatar/elliot.jpg">
                    <div class="content">
                        <a class="header">Elliot Fu</a>
                        <div class="description">on <a><b>11 Sept</b></a></div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="ui horizontal header divider"></h4>
        <div class="six wide column">
            <h3 class="ui header">Hit Threads</h3>
            <div class="ui threaded comments">
                <div class="comment">
                    <a class="ui teal right corner label">
                        <i class="comment icon"></i>
                    </a>
                    <a class="avatar">
                        <img src="img/avatar/matt.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                        </div>
                        <div class="text">
                            How artistic!
                        </div>
                        <div class="actions">
                            <a class="reply">View</a>
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="ui red right corner label">
                        <i class="help icon"></i>
                    </a>
                    <a class="avatar">
                        <img src="img/avatar/nan.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Nan</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                        </div>
                        <div class="text">
                            Who started Apple?
                        </div>
                        <div class="actions">
                            <a class="reply">View</a>
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="ui red right corner label">
                        <i class="help icon"></i>
                    </a>
                    <a class="avatar">
                        <img src="img/avatar/chris.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Chris</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                        </div>
                        <div class="text">
                            Neural System Diseases!
                        </div>
                        <div class="actions">
                            <a class="reply">View</a>
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui medium rectangle test ad" data-text="Hope you wont mind advertising here?"></div>
        </div>
    </div>
</div>