<!--Header-->
<div class="ui inverted vertical masthead title center aligned segment">
    <div class="ui text container">
        <h1 class="ui inverted header">
                    Community Threads
                </h1>
        <h2>Whisper community threads.</h2>
        <a ui-sref="create" class="ui huge positive button">New Thread <i class="right arrow icon"></i></a>
    </div>

</div>

<!--Main Content-->
<div class="ui vertical stripe segment">
    <!--Bread Crumb-->
    <div class="ui middle aligned stackable grid container">
        <div class="ui breadcrumb">
            <a class="section">Whisper</a>
            <i class="right chevron icon divider"></i>
            <a class="section">Home</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">Threads</div>
        </div>
    </div>
    <div class="ui middle stackable grid container">
        <div class="row">
            <!--Threads-->
            <div class="ten wide column">
                <div class="ui multiple dropdown" dropdown>
                    <input type="hidden" name="filters">
                    <i class="filter icon"></i>
                    <span class="text">Type</span>
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>
                        <div class="header">
                            <i class="tags icon"></i> Tag Label
                        </div>
                        <div class="scrolling menu">
                            <div class="item" data-value="important">
                                <div class="ui red empty circular label"></div>
                                Important
                            </div>
                            <div class="item" data-value="announcement">
                                <div class="ui blue empty circular label"></div>
                                Announcement
                            </div>
                            <div class="item" data-value="cannotfix">
                                <div class="ui black empty circular label"></div>
                                Cannot Fix
                            </div>
                            <div class="item" data-value="news">
                                <div class="ui purple empty circular label"></div>
                                News
                            </div>
                            <div class="item" data-value="enhancement">
                                <div class="ui orange empty circular label"></div>
                                Enhancement
                            </div>
                            <div class="item" data-value="off-topic">
                                <div class="ui yellow empty circular label"></div>
                                Off Topic
                            </div>
                            <div class="item" data-value="interesting">
                                <div class="ui pink empty circular label"></div>
                                Interesting
                            </div>
                            <div class="item" data-value="discussion">
                                <div class="ui green empty circular label"></div>
                                Discussion
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui multiple dropdown" dropdown>
                    <input type="hidden" name="filters">
                    <i class="filter icon"></i>
                    <span class="text">Category</span>
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>
                        <div class="header">
                            <i class="tags icon"></i> Tag Label
                        </div>
                        <div class="scrolling menu">
                            <div class="item" data-value="important">
                                <div class="ui red empty circular label"></div>
                                Important
                            </div>
                            <div class="item" data-value="announcement">
                                <div class="ui blue empty circular label"></div>
                                Announcement
                            </div>
                            <div class="item" data-value="cannotfix">
                                <div class="ui black empty circular label"></div>
                                Cannot Fix
                            </div>
                            <div class="item" data-value="news">
                                <div class="ui purple empty circular label"></div>
                                News
                            </div>
                            <div class="item" data-value="enhancement">
                                <div class="ui orange empty circular label"></div>
                                Enhancement
                            </div>
                            <div class="item" data-value="off-topic">
                                <div class="ui yellow empty circular label"></div>
                                Off Topic
                            </div>
                            <div class="item" data-value="interesting">
                                <div class="ui pink empty circular label"></div>
                                Interesting
                            </div>
                            <div class="item" data-value="discussion">
                                <div class="ui green empty circular label"></div>
                                Discussion
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui multiple dropdown" dropdown>
                    <input type="hidden" name="filters">
                    <i class="filter icon"></i>
                    <span class="text">Date</span>
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>
                        <div class="header">
                            <i class="tags icon"></i> Tag Label
                        </div>
                        <div class="scrolling menu">
                            <div class="item" data-value="cannotfix">
                                <div class="ui black empty circular label"></div>
                                Today
                            </div>
                            <div class="item" data-value="important">
                                <div class="ui red empty circular label"></div>
                                This Week
                            </div>
                            <div class="item" data-value="announcement">
                                <div class="ui blue empty circular label"></div>
                                This Month
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui threaded comments">
                    <div class="comment">
                        <a class="ui teal right corner label">
                            <i class="comment icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                            </div>
                            <div class="text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam iure cupiditate, voluptatibus quia veritatis, necessitatibus eaque qui ducimus vitae quaerat vero sequi. Repellendus iure officiis illum ipsa quam vel.
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="ui green bottom right attached label">Answered</div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/nan.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Nan</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                Who started Apple?
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="ui orange bottom right attached label">Not Answered</div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/chris.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Chris</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                            </div>
                            <div class="text">
                                Neural System Diseases!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui black right corner label">
                            <i class="announcement icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/tom.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Tom</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                New Lumia in Market...
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui teal right corner label">
                            <i class="comment icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/nan.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Nan</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                Who started Apple?
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/chris.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Chris</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                            </div>
                            <div class="text">
                                Neural System Diseases!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui black right corner label">
                            <i class="announcement icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/tom.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Tom</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                New Lumia in Market...
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui teal right corner label">
                            <i class="comment icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/matt.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Design &amp; Illustration</a></span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/nan.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Nan</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                Who started Apple?
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui red right corner label">
                            <i class="help icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/chris.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Chris</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM <a href="">Medicine</a></span>
                            </div>
                            <div class="text">
                                Neural System Diseases!
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="ui black right corner label">
                            <i class="announcement icon"></i>
                        </a>
                        <a class="avatar">
                            <img src="img/avatar/tom.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Tom</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM in <a href="">Technology</a></span>
                            </div>
                            <div class="text">
                                New Lumia in Market...
                            </div>
                            <div class="actions">
                                <a class="reply">View</a>
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui pagination menu">
                    <a class="active item">
    1
  </a>
                    <div class="disabled item">
                        ...
                    </div>
                    <a class="item">
    10
  </a>
                    <a class="item">
    11
  </a>
                    <a class="item">
    12
  </a>
                </div>
            </div>
            <!--Sidebar-->
            <div class="six wide column">
                <div ng-include="'/templates/includes/sidebar.html'"></div>
            </div>

        </div>
    </div>
</div>

<!--Footer Widets-->
<div class="ui vertical stripe segment">
    <div ng-include="'/templates/includes/footer-widget.html'"></div>
</div>