<!--Header-->
<div class="ui inverted vertical masthead title center aligned segment">
    <div class="ui text container">
        <h2 class="ui inverted header thread-page-header">
                    <img src="img/avatar/christian.jpg" class="user-profile-logo" alt=""> Chima Onuigbo (3243 points)
                </h2>
        <h4>I am passiontate to see people learn</h4>
        <a ui-sref="user-update" class="ui primary button">Update profile <i class="right arrow icon"></i></a>
    </div>

</div>

<!--Main Content-->
<div class="ui vertical stripe segment">
    <!--Bread Crumb-->
    <div class="ui middle aligned stackable grid container">
        <div class="ui breadcrumb">
            <a class="section">Whisper</a>
            <i class="right chevron icon divider"></i>
            <a class="section">Home</a>
            <i class="right arrow icon divider"></i>
            <a class="section">Users</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">Onuigbo Chima</div>
        </div>
    </div>
    <div class="ui middle stackable grid container">
        <div class="row">
            <!--Threads-->
            <div class="eight wide column">
                <div class="ui list">
                    <div class="item">
                        <i class="user icon"></i>
                        <div class="content">
                            Paschal Onuigbo Chima
                        </div>
                    </div>
                    <div class="item">
                        <i class="fa fa-clock-o icon"></i>
                        <div class="content">
                            Joined on 18th December, 2012
                        </div>
                    </div>
                    <div class="item">
                        <i class="fa fa-clock-o icon"></i>
                        <div class="content">
                            Birthday is on 13th May
                        </div>
                    </div>
                    <div class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            Jos, Nigeria
                        </div>
                    </div>
                    <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                            <a href="mailto:paschonuigbo@gmail.com">paschonuigbo@gmail.com</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="fa fa-globe icon"></i>
                        <div class="content">
                            <a href="http://www.buffy.com">www.buffy.com</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="facebook icon"></i>
                        <div class="content">
                            <a href="http://www.buffy.com">paschalonuigbo</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="twitter icon"></i>
                        <div class="content">
                            <a href="http://www.buffy.com">@paschal</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="instagram icon"></i>
                        <div class="content">
                            <a href="http://www.buffy.com">#chima_o</a>
                        </div>
                    </div>
                    <a class="ui tag label">Member</a>
                    <a class="ui teal tag label">Moderator</a>
                    <a class="ui red tag label">Admin</a>
                </div>
            </div>
            <div class="ui vertical divider">
                
            </div>
            <!--Sidebar-->
            <div class="eight wide column">
                    <div class="ui horizontal statistics">
                        <div class="statistic">
                            <div class="value">
                                2,204
                            </div>
                            <div class="label">
                                Posts
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                3,322
                            </div>
                            <div class="label">
                                Points
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                22
                            </div>
                            <div class="label">
                                Marked as Answer
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                224
                            </div>
                            <div class="label">
                                Likes
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>

<!--Footer Widets-->
<div class="ui vertical stripe segment">   
   <h2 class="align text center">Activities</h2>
    <div ng-include="'/templates/includes/user-footer-widget.html'"></div>
</div>