<!DOCTYPE html>
<html ng-app="whisper" ng-init="text='Whisper'">

<head>
    <% include ../partials/head %>
</head>

<body>
    <!-- Header Switcher -->
    <div ng-switch on="state.current.name">
        <div ng-switch-when="home">
            <ng-include src="'/templates/includes/header-home.html'"></ng-include>
        </div>
        <div ng-switch-when="login">
            <!--            <ng-include src="'/templates/includes/header-home.html'"></ng-include>-->
        </div>
        <div ng-switch-when="signup">
            <!--            <ng-include src="'/templates/includes/header-home.html'"></ng-include>-->
        </div>
        <div ng-switch-default>
            <ng-include src="'/templates/includes/header.html'"></ng-include>
        </div>
    </div>

    <!-- Page Contents -->
    <div class="pusher" ng-class="{'login-body': loginState}">
        <div ui-view></div>


        <% include ../partials/footer %>
    </div>

    <% include ../partials/scripts %>
</body>

</html>