<div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="four wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">DNA FAQ</a>
                            <a href="#" class="item">How To Access</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Twittter widget</h4>
                        <p>Do not forget to add tweet feeds here</p>
                    </div>
                    <div class="four wide column">
                        <h4 class="ui inverted header">Of course we are social</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">
                                <i class="facebook square icon"></i>
                                <div class="content">
                                    <div class="header">Facebook</div>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <i class="twitter square icon"></i>
                                <div class="content">
                                    <div class="header">Twitter</div>
                                </div>
                            </a>
                            <a href="#" class="item">
                                <i class="instagram square icon"></i>
                                <div class="content">
                                    <div class="header">Instagram</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <h4 class="ui inverted horizontal divider header">
                   &#0169; Copyright Whisper&#0153;  <%= (new Date()).getFullYear() %>
                </h4>
            </div>
        </div>